@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Quicksand:wght@300..700&display=swap");

:root {
  font-family: "Quicksand", sans-serif;
}

.h1 {
  font-family: "Cookie", cursive;
  font-size: 5rem;
  text-align: center;
}